@import "tailwindcss";

h1 {
  font-family: "Alexandria", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

@theme {
  --animate-success-background: success 0.25s ease-in-out infinite;

  @keyframes success {

    0%,
    100% {
      background-color: rgb(50, 255, 50);
    }

    50% {
      background-color: rgb(255, 255, 255);
    }
  }
}

@theme {
  --animate-error-background: error 0.65s ease-in-out infinite;

  @keyframes error {

    0%,
    100% {
      background-color: rgb(255, 50, 50);
    }

    50% {
      background-color: rgb(255, 255, 255);
    }
  }
}

@theme {
  --animate-disconnect-background: disconnect 3s ease-in-out infinite;

  @keyframes disconnect {

    0%,
    100% {
      background-color: rgb(50, 50, 50);
    }

    50% {
      background-color: rgb(150, 0, 0);
    }
  }
}

@theme {
  --animate-disabled-background: disabled 7s ease-in-out infinite;

  @keyframes disabled {

    0%,
    100% {
      background-color: rgb(235, 175, 0);
    }

    50% {
      background-color: rgb(225, 225, 225);
    }
  }
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.67s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}